footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 15px;
    list-style: none;
    background-color: #BECDF3;
}
footer i {
    margin-left: 10px;
    margin-right: 20px;
}
.and {
    margin-right: 20px;
}
